# Shared data.go.kr authentication
DATA_GO_KR_SERVICE_KEY=

# K-apt APIs
KAPT_LIST_ENDPOINT=https://apis.data.go.kr/1613000/AptListService3
KAPT_BASIC_ENDPOINT=
KAPT_COMMON_COST_ENDPOINT=

# Application
APP_ENV=development
LOG_LEVEL=INFO